.env
**/*.class
**/.env
**/.gradle/
**/build/
**/.project
**/.settings/
**/__pycache__/
.venv/
**/.venv/

# java
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
